#content {
    background-color: rgb(200, 224, 193);
    padding: 20px 50px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

* {
    margin: 5px;
}

button {
    font-size: small;
    background-color: royalblue;
    color: white;
    padding: 8px;
    border-radius: 5px 10px;
    border-style: none;
}