#content-parent {
    margin: 0 auto;
    width: max-content;
    background-color: rgb(193, 224, 223);
    padding: 20px 50px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

* {
    margin: 5px;
}

button {
    font-size: small;
    background-color: royalblue;
    color: white;
    padding: 8px;
    border-radius: 5px 10px;
    border-style: none;
}

#content-childs {
    margin: 0 auto;
    width: max-content;
    display: flex;
    justify-content: space-between;
}